<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body class="about-me-page">
        <%- include('partials/header') %>

            <div class="wrapper">
                <div class="left">
                    <img src="/public/images/Images.jpeg"
                     alt="Your Headshot">
                </div>
                <div class="right">
                    <h1>About Me</h1>
                    <p>
                        I'm Niko Nekoudari,an Iranian  software developer by profession and a tennis enthusiast.
                        In the world of code, I find joy in crafting solutions and building innovative software.
                        Beyond coding, you'll find me on the tennis court, where the strategic nature of the game aligns perfectly
                         with my problem-solving mindset. I also enjoy leisurely walks and exploring the world of cinema
                    <a href="/public/pdf/my-resume.pdf" download=""> 
                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="currentColor" d="M272 160v147.37l64-64L358.63 266L256 368.63L153.37 266L176 243.37l64 64V160H92a12 12 0 0 0-12 12v296a12 12 0 0 0 12 12h328a12 12 0 0 0 12-12V172a12 12 0 0 0-12-12ZM240 32h32v128h-32z"/></svg>
                        <span>My Resume</span>
                    
                    </a>
                </div>
            </div>


    </body>

</html>