<!DOCTYPE html>

<%- include('partials/head') %>

    <html lang="en">

    <body class="home-page">
        <%- include('partials/header') %>

            <div class="wrapper">
                <section class="intro">
                    <h1>Welcome to My Portfolio</h1>
                    <p>Thank you for visiting my portfolio website. Explore my work and get to know more about me!
                    </p>
                    <a href="/about" class="btn">Learn More</a>
                </section>
                <section class="mission-statment">
                    <h1>Mission Statement</h1>
                    <p>
                        As a software engineering student,  I aim to create innovative, user-centric solutions
                         using cutting-edge technologies.. I value collaboration, quality, and continuous
                          learning, striving to deliver impactful software that enhances user experiences and
                           contributes to technological advancement."
                    </p>
                    <ul>
                        <li>Cs Student</li>
                        <li>Software Developer</li>
                    </ul>
                </section>
            </div>


    </body>



    </html>