<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body class="projects-page">
        <%- include('partials/header') %>



            <div class="wrapper">
                <section class="projects">
                    <h1>Projects</h1>

                    <!-- Project 1 -->
                    <div class="project">
                        <img src="https://unsplash.com/photos/Ax8IA8GAjVg/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8cHJvamVjdHxlbnwwfHx8fDE2OTU5NzMzNzR8MA&force=true" alt="Project 1">
                        <div class="project-details">
                            <h2>RealState Project</h2>
                            <p>
                                In this project, I introduce myself as an realtor who has a good experience in related field.
                                So, I listed some of my project what I have done or working on. 
                            </p>
                        </div>
                    </div>

                    <!-- Project 2 -->
                    <div class="project">
                        <img src="https://unsplash.com/photos/5fNmWej4tAA/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8OXx8cHJvamVjdHxlbnwwfHx8fDE2OTU5NzMzNzR8MA&force=true" alt="Project 2">
                        <div class="project-details">
                            <h2>Project 2 Title</h2>
                            <p>
                                Second project is about  Amozon company.So,I display few products and some
                                related information, and a section for customer service.
                            </p>
                        </div>
                    </div>

                    <!-- Project 3 -->
                    <div class="project">
                        <img src="https://unsplash.com/photos/Oalh2MojUuk/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTB8fHByb2plY3R8ZW58MHx8fHwxNjk1OTczMzc0fDA&force=true" alt="Project 3">
                        <div class="project-details">
                            <h2>Project 3 Title</h2>
                            <p>
                                The other project is about some cafe.I this page, I introduce some of different kinds of coffee 
                                and a brief description about each and the price.
                            </p>
                        </div>
                    </div>

                         <!-- Project 4 -->
                         <div class="project">
                            <img src="https://unsplash.com/photos/Q2J2qQsoYH8/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTF8fHByb2plY3R8ZW58MHx8fHwxNjk1OTczMzc0fDA&force=true" alt="Project 3">
                            <div class="project-details">
                                <h2>Project 3 Title</h2>
                                <p>
                                    Brief description of Project 3. Mention your role and the outcome.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel enim vel velit luctus
                                    aliquet.
                                </p>
                            </div>
                        </div>
                </section>
            </div>

    </body>

</html>