<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body class="services-page">

        <%- include('partials/header') %>
            <div class="wrapper">
                <section class="services">
                    <h1>Services</h1>

                    <!-- Service 1 -->
                    <div class="service">
                        <img src="https://unsplash.com/photos/hGV2TfOh0ns/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8c2VydmljZXxlbnwwfHx8fDE2OTU5NzM3NTl8MA&force=true" alt="Service 1">
                        <div class="service-details">
                            <h2>Web Development</h2>
                            <p>
                                We specialize in creating responsive and user-friendly websites tailored to your needs.
                            </p>
                        </div>
                    </div>

                    <!-- Service 2 -->
                    <div class="service">
                        <img src="https://unsplash.com/photos/kRNZiGKtz48/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8OHx8c2VydmljZXxlbnwwfHx8fDE2OTU5NzM3NTl8MA&force=true" alt="Service 2">
                        <div class="service-details">
                            <h2>Mobile App Development</h2>
                            <p>
                                Build powerful and engaging mobile applications for iOS and Android platforms.
                            </p>
                        </div>
                    </div>

                    <!-- Service 3 -->
                    <div class="service">
                        <img src="https://unsplash.com/photos/mHusyBu4bxM/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTJ8fHNlcnZpY2V8ZW58MHx8fHwxNjk1OTczNzU5fDA&force=true" alt="Service 3">
                        <div class="service-details">
                            <h2>General Programming</h2>
                            <p>
                                Solve complex problems and optimize processes through our expertise in general
                                programming.
                            </p>
                        </div>
                    </div>
                </section>
            </div>

    </body>

</html>